<div style="height: 80vh;">
<mat-toolbar>
   <mat-toolbar-row>
     <button mat-icon-button (click)="sidenav.toggle()" id="toggle-menu">
       <mat-icon>menu</mat-icon>
     </button>
     <div id="menu-horizontal" class="m-auto">
       <!-- The following menu items will be hidden on both SM and XS screen sizes -->
       <a href="#hmall" mat-button>H-mall</a>
       <a href="#lojas" mat-button>Lojas e serviços</a>
       <img [src]="'./assets/images/logo-header.png'" alt="" srcset="" id="logo-header">
       <a href="#contato" mat-button>contato</a>
       <a href="#contact-info" mat-button>como chegar</a>
     </div>
     <div id="menu-only-logo" class="m-auto">
      <img [src]="'./assets/images/logo-header.png'" alt="" srcset="" id="logo-header">
    </div>
   </mat-toolbar-row>
 </mat-toolbar>

 <mat-sidenav-container id="sidenavcontainer" >
   <mat-sidenav #sidenav>
     <mat-nav-list>
       <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
       <a href="#hmall" mat-button>H-mall</a>
       <a href="#lojas" mat-button>Lojas e serviços</a>
       <a href="#contato" mat-button>contato</a>
       <a href="#contact-info" mat-button>como chegar</a>
     </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
 </mat-sidenav-container>
</div>
   
