<img [src]="'./assets/images/img-header.jpg'" alt="" srcset="" id="logo-header" class="w-100">
<section class="section green">
    <h2>h-mall</h2>
    <p>Perfeito para você!</p>
    <p>Em uma das principais ruas da região, a Waldemar Falcão, o H Mall é o endereço certo para quem busca conforto e praticidade, enquanto aproveita um ambiente charmoso e sofisticado.</p>
    <p>Com um mix de lojas e serviços que agregam praticidade, gastronomia e bem-estar, além da facilidade de acesso e mobilidade. No térreo você encontra moda, decoração, acessórios, restaurantes, óticas, assistência para celular e informática, além de centros de estética e salão de beleza. Já os dois pavimentos superiores abrigam a academia Smartfit e o último piso possui salas comerciais, entre escritórios de arquitetura, clínicas, acessórios, moda feminina e estética. </p>
    <p>Tudo isso com conforto e segurança, são mais de 100 vagas de estacionamento coberto e manobrista.</p>
</section>
<section class="section lojas">
    <h2>Lojas e serviços</h2>
    <div class="text-center">
        <mat-form-field appearance="outline" class="m-auto">
        <mat-label for="search">Digite o que procura...</mat-label>
            <input type="input" matInput  id="search"  />
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="cont-lojas">
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
        <div class="cham-loja">
            <img [src]="'./assets/images/loja-logo.png'" alt=""/>
            <h5>Smart Fit - <span class="text-amarelo">Academia</span></h5>
            <hr>
            <span class="site">www.smartfit.com.br</span>
            <span class="tel">71 90993-4388</span>        
        </div>
    </div>
</section>
<section class="section green">
    <h2>contato</h2>
    <div >
        <form id="contact-form" class="cont_two_column" method="post" action="<?php bloginfo('template_url'); ?>/php/enviar_email.php">
          <div class="item">
            <input type="text" id="nome" name="nome" required placeholder="Nome">
            <input type="email" id="email" name="email" required placeholder="E-mail">
            <input type="tel" id="telefone" name="telefone" placeholder="Telefone">
          </div>
          <div class="item">
            <textarea id="mensagem" name="mensagem" required placeholder="Mensagem"></textarea>
            <button type="submit">Enviar</button>
          </div>
        </form>
    </div>
    <a href="#" class="link_instagram">@hmall.ssa</a>
    <h2 class="mt-5">como chegar</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577.9039917386427!2d-38.48537121989713!3d-12.993638587706268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716052eac44ba47%3A0x5d33db344c8a5c2e!2sH%20Mall!5e0!3m2!1spt-BR!2sbr!4v1697505856652!5m2!1spt-BR!2sbr" width="100%" height="204" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div id="contact-info" class="cont_two_column">
        <div class="item">
            <span class="endereco">
                Rua Waldemar Falcão, 323 - Horto 40295-010
            </span>
        </div>
        <div class="item">
            <span class="horario">
                Segunda a sexta - <B>9h às 20h</B><br>
                Sábado - <B>9h às 14h</B><br>
                <sub>
                    Os restaurantes funcionam em horário independente  do shopping
                </sub>
            </span>
        </div>
    </div>

    <img [src]="'./assets/images/logo-footer.png'" alt="" srcset="" id="logo-footer" >

</section>